extends ../layout

block content
	header.header-container#header-container
	.container.outer-container
		#page-container.page-container
	#callout
		a(href="/posts/new") Create new post
	#posts

block scripts
	//-script(src="/scripts/init.js")
