extends ../layout

block content
	header
		img(src='/images/viewpost-app-logo.png', width='125px', height='24px')
	#callout
		a(href="/posts/new", class="btn") Create new post
	#posts

block scripts
	//-script(src="/scripts/init.js")
